
@font-face {
	font-family: "Pseudolux";
	src: url("fonts/pseudolux.ttf") format("truetype");
}

.loggedin {display: none;}
.login {
	display: block;
	margin: auto;
	width: 25%;
}

.show {display: block;}
.hide {display: none;}

.textPrimary {color: white;}
.background1 {background-color: black; border-radius: 0px;}
.thePink {background-color: #F48FB1;}

.header {
	color: #F48FB1;
	font-family: "Pseudolux", Arial, sans;
	font-size: 8em;
	letter-spacing: -13px;
	text-shadow: 0px 0px 25px #bbbbbb;
}

.header:hover {
	color: #5b6369;
	text-shadow: 0px 0px 25px #f48fb1;
}

.btn {
	width: 100%;
	padding: 5px;
	margin: 5px;
}

body {
	text-align: center;
}

.active-pink-3 input[type=text] {
	display: inline;
	border: 1px solid #f48fb1;
	box-shadow 0 0 0 1px #f48fb1;
}

.form-control {
	border-radius: 20px 20px 0 0;
}

a:active, a:hover {
	text-decoration: none;
}

.search-bar {
	width: 33.33%;
	margin: auto;
	margin-bottom: 10px;
}

.song {
	padding: 5px;
	margin: 0px;

	display: flex;

	border: 1px solid #f48fb1;
	border-top: 0;
	cursor: pointer;
}

.song:hover {
	background-color: #5b6369;
}

.songlist {
	margin-bottom: 5px;
}

.album {
	margin-right: 5px;
}

.top {
	border-top: 1px solid #f48fb1;
}

.bottom {
	border-radius: 0 0 5px 5px;
}

.info {
	flex-direction: column;
	border-left: 1px solid black;
	padding-left: 5px;
}

.info > p {
	display: inline block;
	text-align: left;
	margin: 0px;
	font-size: 0.88em;
	color: #f48fb1;
}

.seedsongs {
	width: 50%;
	margin: auto;
	background-color: #f48fb1;
}

.slider {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	padding: 5px;
}

.slider > * {
	margin: 5px;
}

.slider-label {
	color: #f48fb1;
}

.slide {
  -webkit-appearance: none;
  max-width: 50%;
  height: 10px;
  background: #000000;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slide:hover {
  opacity: 1;
}

.slide::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  width: 25px;
  height: 25px;
  background: #f48fb1;
  cursor: pointer;
}

.slide::-moz-range-thumb {
  border: 0;
  width: 25px;
  height: 25px;
  background: #f48fb1;
  cursor: pointer;
}

.slider-value {
	color: #f48fb1;
}

label {
	flex-grow: 1;
	margin-left: auto;
}

.inactive {
	visibility: hidden;
}

.inactive-text {
	color: #5b6369;
}

.advancedmenu {
	display: none;
}

.inactive-text:hover {

	color: #5b6369;
}
